$color-primary: #f8f9fa;
$color-primary-shadow: #dee2e6;
$color-secondary: #ced4da;
$color-secondary-shadow: #6c757d;
$color-accent: #8b0500;
$color-accent-shadow: #4b0500;
$color-text-primary: #212529;
$color-text-secondary: #6c757d;
$color-shadow: #6c757d;

.container {
  width: 100%;
  height: fit-content;
  max-height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  overflow-y: scroll;
  > .filters {
    width: 100%;
    height: 3rem;
    max-height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    > .searchBar {
      width: 100%;
      max-width: 20rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $color-primary;
      border-radius: .25rem;
      box-shadow: 0 0 .25rem 0 $color-shadow;
      > input {
        width: 100%;
        height: 3rem;
        padding: 0 1rem;
        font-size: 1rem;
        border: none;
        outline: none;
        border-radius: .25rem;
        background-color: $color-primary;
        color: $color-text-primary;
      }
      > svg {
        width: 3rem;
        height: 100%;
        padding: .75rem;
        border-left: 1px solid $color-secondary;
        cursor: pointer;
        transition: all .25s;
      }
      > svg:hover {
        background-color: $color-secondary;
      }
    }
  }
}

@media screen and (max-width: 744px) {
  .container {
    justify-content: center;
    > .filters {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 356px) {
  .container {
    padding: 1rem 0;
  }
}