$color-primary: #f8f9fa;
$color-primary-shadow: #dee2e6;
$color-secondary: #ced4da;
$color-secondary-shadow: #6c757d;
$color-accent: #8b0500;
$color-accent-shadow: #4b0500;
$color-text-primary: #212529;
$color-text-secondary: #6c757d;
$color-shadow: #6c757d;

.container {
  width: 100%;
  height: 100%;
  grid-area: main;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  > .filters {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    input, select {
      height: 3rem;
      padding: 0 1rem;
      font-size: 1rem;
      border: none;
      outline: none;
      border-radius: .25rem;
      background-color: $color-primary;
      color: $color-text-primary;
    }
    > .searchBar {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-primary;
      border-radius: .25rem;
      box-shadow: 0 0 .25rem 0 $color-shadow;
      > svg {
        width: 3rem;
        height: 100%;
        padding: .75rem;
        border-left: 1px solid $color-secondary;
        cursor: pointer;
        transition: all .25s;
      }
      > svg:hover {
        background-color: $color-secondary;
      }
    }
    > .builderFilter {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-primary;
      border-radius: .25rem;
      box-shadow: 0 0 .25rem 0 $color-shadow;
      cursor: pointer;
      > select {
        cursor: pointer;
      }
      > svg {
        width: 3rem;
        height: 100%;
        padding: .75rem;
        border-left: 1px solid $color-secondary;
        transition: all .25s;
      }
      > svg:hover {
        background-color: $color-secondary;
      }
    }
  }
  > .scrollContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start ;
    align-items: flex-start;
    overflow-x: scroll;
    background-color: $color-primary;
    box-shadow: 0 0 .25rem 0 $color-shadow;
    > .loadingContainer {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    > section {
      width: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: flex-start;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    > .filters {
      flex-flow: column;
      height: 9rem;
      input, select {
        width: 100%;

      }
      > .searchBar {
        width: 100%;
      }
      > .builderFilter {
        width: 100%;
      }
    }
  }
}