$color-primary: #f8f9fa;
$color-primary-shadow: #dee2e6;
$color-secondary: #ced4da;
$color-secondary-shadow: #6c757d;
$color-accent: #8b0500;
$color-accent-shadow: #4b0500;
$color-text-primary: #212529;
$color-text-secondary: #6c757d;
$color-shadow: #6c757d;

.container {
  width: fit-content;
  height: 3rem;
  min-height: 3rem;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $color-primary;
  z-index: 3;
  font-weight: bold;
  border-bottom: 1px solid $color-secondary;
  > div:first-child {
    width: 8rem;
    min-width: 8rem;
  }
  > div:nth-child(2) {
    position: sticky;
    left: 0;
    background-color: $color-primary;
  }
  > div {
    width: 16rem;
    min-width: 16rem;
    height: 100%;
    padding: 0 .5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid $color-secondary;
  }
  #takeoffContainer {
    width: 5.5rem;
    min-width: 5.5rem;
  }
  #accessContainer {
    width: 10rem;
    min-width: 10rem;
  }
  > .buttonContainer {
    width: 5.5rem;
    min-width: 5.5rem;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    border-right: none;
    svg {
      width: 2rem;
      height: 2rem;
      color: $color-text-primary;
      border: 1px solid $color-text-primary;
      border-radius: .25rem;
      cursor: pointer;
      transition: all .25s;
    }
    svg:hover {
      color: $color-accent;
      border: 1px solid $color-accent;  
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    > div:nth-child(2) {
      position: relative;
    }
  }
}