$color-primary: #f8f9fa;
$color-primary-shadow: #dee2e6;
$color-secondary: #ced4da;
$color-secondary-shadow: #6c757d;
$color-accent: #8b0500;
$color-accent-shadow: #4b0500;
$color-accent-light: #eee3e3;
$color-success: #006400;
$color-success-light: #e1ebe3;
$color-text-primary: #212529;
$color-text-secondary: #6c757d;
$color-shadow: #6c757d;

.container, .errorContainer {
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 15%;
  left: calc(50% - 10rem);
  padding: 1rem;
  padding-left: .75rem;
  box-shadow: 0 0 .25rem 0 $color-shadow;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all .25s;
  > span {
    width: 100%;
  }
  > svg {
    height: 100%;
    width: 2rem;
  }
}

.container {
  color: $color-success;
  background-color: $color-success-light;
  border-left: .25rem solid $color-success;
}

.errorContainer {
  color: $color-accent;
  background-color: $color-accent-light;
  border-left: .25rem solid $color-accent;
}

.container:hover, .errorContainer:hover {
  background-color: $color-primary;
}