$color-primary: #f8f9fa;
$color-primary-shadow: #dee2e6;
$color-secondary: #ced4da;
$color-secondary-shadow: #6c757d;
$color-accent: #8b0500;
$color-accent-shadow: #4b0500;
$color-text-primary: #212529;
$color-text-secondary: #6c757d;
$color-shadow: #6c757d;

.container {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  color: $color-primary;
  border: none;
  border-radius: .25rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all .25s;
  > svg, > img {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
  }
}

.container:disabled {
  opacity: 50%;
}

.container:disabled:hover {
  cursor: default;
}