$color-primary: #f8f9fa;
$color-primary-shadow: #dee2e6;
$color-secondary: #ced4da;
$color-secondary-shadow: #6c757d;
$color-accent: #8b0500;
$color-accent-shadow: #4b0500;
$color-text-primary: #212529;
$color-text-secondary: #6c757d;
$color-shadow: #6c757d;

.container {
  width: 100%;
  height: 3rem;
  min-height: 3rem;
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: $color-primary;
  box-shadow: 0 0 .25rem 0 $color-shadow;
  z-index: 1;
  a {
    height: 100%;
    color: $color-text-secondary;
    transition: all .25s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .125rem;
  }
  a.active {
    color: $color-text-primary;
  }
  a:hover {
    color: $color-accent;
  }
  svg {
    height: 100%;
  }
  > .welcomeContainer {
    > svg {
      width: 2rem;
      height: 2rem;
      border-radius: .25rem;
      transition: all .25s;
      cursor: pointer;
    }
    > svg:hover {
      background-color: $color-secondary;
    }
  }
  > div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    > span {
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    > div {
      > a {
        > span {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .container {
    > .welcomeContainer {
      > span {
        display: none;
      }
    }
  }
}