$color-primary: #f8f9fa;
$color-primary-shadow: #dee2e6;
$color-secondary: #ced4da;
$color-secondary-shadow: #6c757d;
$color-accent: #8b0500;
$color-accent-shadow: #4b0500;
$color-text-primary: #212529;
$color-text-secondary: #6c757d;
$color-shadow: #6c757d;

.container {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: $color-primary;
  box-shadow: 0 .25rem .25rem 0 $color-shadow;
  > .subnav {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    a {
      height: 100%;
      color: $color-text-secondary;
      transition: all .25s;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .125rem;
    }
    a.active {
      color: $color-text-primary;
    }
    a:hover {
      color: $color-accent;
    }
    svg {
      height: 100%;
    }
    > div {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      > .logo {
        height: 75%;
      }
      > .thinLogo {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    > .subnav {
      > div {
        > a {
          > span {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .container {
    > .subnav {
      > div {
        > .logo {
          display: none;
        }
        > .thinLogo {
          display: inherit;
          height: 75%;
        }
      }
    }
  }
}