.container {
  > header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    > * {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
    }
  }
  > section {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}