$color-primary: #f8f9fa;
$color-primary-shadow: #dee2e6;
$color-secondary: #ced4da;
$color-secondary-shadow: #6c757d;
$color-accent: #8b0500;
$color-accent-shadow: #4b0500;
$color-text-primary: #212529;
$color-text-secondary: #6c757d;
$color-shadow: #6c757d;

.container {
  width: 20rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: $color-primary;
  box-shadow: 0 .25rem .25rem 0 $color-shadow;
  border-radius: .25rem;
  > img {
    width: 50%;
  }
  > .message {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-accent;
  }
  > .inputContainer {
    width: 100%;
    height: 2rem;
    border: none;
    outline: none;
    background-color: $color-primary;
    border-bottom: .125rem solid $color-text-primary;
    transition: all .25s;
    font-size: 1rem;
    color: $color-text-primary;
  }
  > .inputContainer:hover {
    border-bottom: .125rem solid $color-accent;
  }
  > .inputContainer::placeholder {
    color: $color-text-secondary;
    transition: all .25s;
  }
  > .inputContainer:hover::placeholder {
    color: $color-accent;
  }
  > .buttonContainer {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    > button, > div {
      width: 100%;
      height: 100%;
      color: $color-text-primary;
      border: .125rem solid $color-text-primary;
      border-radius: .25rem;
      cursor: pointer;
      transition: all .25s;
      font-size: 1rem;
      > a {
        color: inherit;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    > button:hover, > div:hover {
      color: $color-accent;
      border: .125rem solid $color-accent;  
    }
    > button:disabled {
      color: $color-text-secondary;
      border: .125rem solid $color-text-secondary;
    }
    > button:disabled:hover {
      color: $color-text-secondary;
      border: .125rem solid $color-text-secondary;
      cursor: inherit;
    }
  }
}

@media screen and (max-width: 320px) {
  .container {
    border-radius: 0;
  }
}