$color-primary: #f8f9fa;
$color-primary-shadow: #dee2e6;
$color-secondary: #ced4da;
$color-secondary-shadow: #6c757d;
$color-accent: #8b0500;
$color-accent-shadow: #4b0500;
$color-text-primary: #212529;
$color-text-secondary: #6c757d;
$color-shadow: #6c757d;

.container {
  width: 20rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: $color-primary;
  box-shadow: 0 0 .25rem 0 $color-shadow;
  border-radius: .25rem;
  > h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
  }
  > .message {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $color-accent;
    background-color: $color-primary-shadow;
    border-left: .25rem solid $color-accent;
  }
  > .inputContainer {
    width: 100%;
    height: 2rem;
    border: none;
    outline: none;
    background-color: $color-primary;
    border-bottom: 1px solid $color-text-primary;
    transition: all .25s;
    font-size: 1rem;
    color: $color-text-primary;
  }
  > .inputContainer:hover {
    border-bottom: 1px solid $color-accent;
  }
  > .inputContainer::placeholder {
    color: $color-text-secondary;
    transition: all .25s;
  }
  > .inputContainer:hover::placeholder {
    color: $color-accent;
  }
  > .buttonContainer {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    > button, > div {
      width: 100%;
      height: 100%;
      color: $color-primary;
      border: none;
      border-radius: .25rem;
      cursor: pointer;
      transition: all .25s;
      font-size: 1rem;
      > a {
        color: inherit;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    > button {
      background-color: $color-accent;
    }
    > div {
      background-color: $color-text-secondary;
    }
    > button:hover {
      background-color: $color-accent-shadow;
    }
    > div:hover {
      background-color: $color-text-primary;
    }
    > button:disabled {
      opacity: 50%;
    }
    > button:disabled:hover {
      cursor: inherit;
      color: $color-primary;
      background-color: $color-accent;
    }
  }
}

@media screen and (max-width: 320px) {
  .container {
    border-radius: 0;
  }
}